.card{
    height: 200px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.heart-icon{
    height: 15px;
    width: 15px;
    border-radius: 200px;
    padding: 5px;
    backdrop-filter: blur(20px);
        background: #ff575791;
    position: absolute;
right: 5px;
    top: 5px;
}

 .card img{
    height: 100%;
    width: 100%;
}

.whatsapp-icon{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
}